---
layout: default
---

{% include title.html %}

<div>
   <div class="container"> 

      <div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">Areas</h2>
            <p style="text-align: left;">These are the areas we engage in.</p>      
         </div>
      </div>

      {% assign areas = site.areas | sort: "name" %}
      {% for area in areas %}
      <div class="row collection">

         <div class="col-md-9">
            <div class="row collection__meta">
               <div class="col-12 collection__description">
                  
                  <h3><a href="{{ site.url }}{{ blueprint.url }}" title="Details" style="color: #000;">{{ area.name }}</a></h3>
                  <p>{{ area.description }}</p>
               </div>
            </div>
         </div>
      
         <div class="col-md-3 collection_cta" style="padding: 25px;">
         <a class="landing btn btn__secondary-light" href="{{ site.url }}{{ area.url }}" title="Details">View Area</a>
         </div>
      
      </div>
      {% endfor %}        

   </div>
</div>

{% include home.html %}
