---
layout: default
---

{% include title.html %}

<div>
   <div class="container"> 

      <div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">People</h2>
         </div>
      </div>

      {% assign peoples = site.people | sort: "name" %}
      {% for people in peoples %}
      <div class="row collection">

         <div class="col-md-9">
            <div class="row collection__meta">
               <div class="col-12 collection__description">
                  <a href="{{ site.url }}{{ people.url }}" title="Details"><img src="{{ site.url }}/images/people/{{ people.image }}" width="150" style="margin: 10px; border: 0px solid #000; background-color:#FFF; padding: 5px;" align="left"></a>
                  <h3><a href="{{ site.url }}{{ people.url }}" title="Details" style="color: #000;">{{ people.name }}</a></h3>
                  <p>{{ people.description }}</p>
               </div>
            </div>
         </div>
      
         <div class="col-md-3 collection_cta" style="padding: 25px;">
         <a class="landing btn btn__secondary-light" href="{{ site.url }}{{ people.url }}" title="Details">View Person</a>
         </div>
      
      </div>
      {% endfor %}        

   </div>
</div>

{% include home.html %}