---
layout: default
---
<div class="container-fluid hero v5_starfield-small-night-sky pb-4">
   <div class="container">
      <div class="row">
         <div class="col-md-12 hero_title" style="padding: 0px 0px 0px 0px; margin: 0px; text-align: center;">
            <h1 style="text-align: center;"><a href="{{ site.url }}" style="color: #FFF;">{{ site.title }}</a></h1>
         </div>
      </div>
   </div>
</div>

<div>
   <div class="container"> 

      <div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">Components</h2>    
         </div>
      </div>    

      {% assign components = site.components | sort: "name" %}
      {% for component in components %}
         <div class="row collection">

            <div class="col-md-9">
               <div class="row collection__meta">
                  <div class="col-12 collection__description">
                     <a href="{{ site.url }}{{ component.url }}" title="Details"><img src="{{ site.url }}/images/components/{{ component.image }}" width="90" style="margin: 10px; border: 0px solid #000; background-color:#FFF; padding: 5px;" align="left"></a>
                     <h3><a href="{{ site.url }}{{ component.url }}" title="Details" style="color: #000;">{{ component.name }}</a></h3>
                     <p>{{ component.description }}</p>
                  </div>
               </div>
            </div>
         
            <div class="col-md-3 collection_cta" style="padding: 25px;">
            <a class="landing btn btn__secondary-light" href="{{ site.url }}{{ component.url }}" title="Details">View Component</a>
            </div>
         
         </div>
      {% endfor %}    

   </div>
</div>

{% include home.html %}