---
layout: default
---

{% include title.html %}

<div>
   <div class="container">

		<div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1"><strong>Areas:</strong> {{ page.name }}</h2>
            <p style="text-align: left;">{{ page.description }}</p>
         </div>
      </div>     
      
      {% assign timelines = site.data.twitter-timelines %}
      {% assign organizations = site.organizations %} 

      {% assign today = 'now' | date: '%s' %}
      {% assign single_day = 86400 %}
      {% assign any_tweets_this_week = 0 %}
      {% for timeline in timelines %}
         {% for this_timeline in timeline[1] %}            
            {% assign this_day = this_timeline[1].created_at | date: '%s' %}
            {% assign day_diff = today | minus: this_day %}          
            {% assign how_many_days = day_diff | divided_by: single_day %}    
            {% if how_many_days < 8 %}             
               {% assign area_match = 0 %}
               {% for area in this_timeline[1].areas %}
                  {% if area == page.name %}  
                     {% assign area_match = 1 %}  
                  {% endif %}   
               {% endfor %} 
               {% if area_match == 1 %}  
                  {% assign any_tweets_this_week = 1 %}
               {% endif %}   
            {% endif %}  
         {% endfor %}  
      {% endfor %} 

      <h3>Last Week</h3>
      <p><strong>{{ page.name }}</strong></p>
      <ul>
      {% if any_tweets_this_week == 1 %}                      
         {% for timeline in timelines %}

            {% assign any_timeline = 0 %}
            {% for this_timeline in timeline[1] %}   
               {% assign this_day = this_timeline[1].created_at | date: '%s' %}
               {% assign day_diff = today | minus: this_day %}          
               {% assign how_many_days = day_diff | divided_by: single_day %}             
               {% if how_many_days < 8 %} 
                  {% assign area_match = 0 %}
                  {% for area in this_timeline[1].areas %}
                     {% if area == page.name %}  
                        {% assign area_match = 1 %}  
                     {% endif %}   
                  {% endfor %} 
                  {% if area_match == 1 %}              
                     {% assign any_timeline = 1 %}
                  {% endif %}  
               {% endif %}  
            {% endfor %} 

            {% if any_timeline == 1 %} 
               <p><strong>{{ timeline[0] }}</strong></p>
               <ul>
               {% for this_timeline in timeline[1] %}   
                  {% assign this_day = this_timeline[1].created_at | date: '%s' %}
                  {% assign day_diff = today | minus: this_day %}          
                  {% assign how_many_days = day_diff | divided_by: single_day %}             
                  {% if how_many_days < 8 %} 
                     {% assign area_match = 0 %}
                     {% for area in this_timeline[1].areas %}
                        {% if area == page.name %}  
                           {% assign area_match = 1 %}  
                        {% endif %}   
                     {% endfor %} 
                     {% if area_match == 1 %}              
                        <li><strong>{{ this_timeline[1].created_at | date: "%a, %b %d, %Y" }}</strong> - {{ this_timeline[1].text }}</li>
                     {% endif %}  
                  {% endif %}  
               {% endfor %}   
               </ul>
            {% endif %}  
         {% endfor %}            
      {% else %} 
         <li>No Tweets This Week!</li>
      {% endif %} 
      </ul>

      <hr>

      {% assign today = 'now' | date: '%s' %}
      {% assign single_day = 86400 %}
      {% assign any_tweets_this_week = 0 %}
      {% for timeline in timelines %}
         {% for this_timeline in timeline[1] %}     
            {% assign this_day = this_timeline[1].created_at | date: '%s' %}
            {% assign day_diff = today | minus: this_day %}          
            {% assign how_many_days = day_diff | divided_by: single_day %}    
            {% if how_many_days > 8 %}   
               {% if how_many_days < 32 %}  
                  {% assign area_match = 0 %}
                  {% for area in this_timeline[1].areas %}
                     {% if area == page.name %}  
                        {% assign area_match = 1 %}  
                     {% endif %}   
                  {% endfor %} 
                  {% if area_match == 1 %}                      
                     {% assign any_tweets_this_week = 1 %}
                  {% endif %}   
               {% endif %}   
            {% endif %} 
         {% endfor %} 
      {% endfor %} 

      <h3>Last Month</h3>
      <ul>
      {% if any_tweets_this_week == 1 %}                      
         {% for timeline in timelines %}

            {% assign any_timeline = 0 %}
            {% for this_timeline in timeline[1] %}  
               {% assign this_day = this_timeline[1].created_at | date: '%s' %}
               {% assign day_diff = today | minus: this_day %}          
               {% assign how_many_days = day_diff | divided_by: single_day %}             
               {% if how_many_days > 8 %}   
                  {% if how_many_days < 32 %}  
                     {% assign area_match = 0 %}
                     {% for area in this_timeline[1].areas %}
                        {% if area == page.name %}  
                           {% assign area_match = 1 %}  
                        {% endif %}   
                     {% endfor %} 
                     {% if area_match == 1 %}                  
                        {% assign any_timeline = 1 %}
                     {% endif %}  
                  {% endif %}  
               {% endif %}  
            {% endfor %}  

            {% if any_timeline == 1 %}   
               <p><strong>{{ timeline[0] }}</strong></p>
               <ul>         
               {% for this_timeline in timeline[1] %}  
                  {% assign this_day = this_timeline[1].created_at | date: '%s' %}
                  {% assign day_diff = today | minus: this_day %}          
                  {% assign how_many_days = day_diff | divided_by: single_day %}             
                  {% if how_many_days > 8 %}   
                     {% if how_many_days < 32 %}  
                        {% assign area_match = 0 %}
                        {% for area in this_timeline[1].areas %}
                           {% if area == page.name %}  
                              {% assign area_match = 1 %}  
                           {% endif %}   
                        {% endfor %} 
                        {% if area_match == 1 %}                  
                           <li><strong>{{ this_timeline[1].created_at | date: "%a, %b %d, %Y" }}</strong> - {{ this_timeline[1].text }}</li>
                        {% endif %}  
                     {% endif %}  
                  {% endif %}  
               {% endfor %}    
            {% endif %}  
            </ul>        
         {% endfor %} 
      {% endif %}             

   </div>
</div>

{% include home.html %}