---
layout: default
---
{% include title.html %}

<div>
   <div class="container"> 

      <div class="row collection__header text-center">
         <div class="col-md-12">
            <h2 class="h1">Organizations</h2>
         </div>
      </div>

      {% assign organizations = site.organizations | sort: "name" %}
      {% for organization in organizations %}
      <div class="row collection">

         <div class="col-md-9">
            <div class="row collection__meta">
               <div class="col-12 collection__description">
                  <a href="{{ site.url }}{{ organization.url }}" title="Details"><img src="{{ site.url }}/images/organizations/{{ organization.image }}" width="400" style="margin: 10px; padding: 5px;" align="left"></a>
                  <p>{{ organization.description }}</p>
               </div>
            </div>
         </div>
      
         <div class="col-md-3 collection_cta" style="padding: 25px;">
         <a class="landing btn btn__secondary-light" href="{{ site.url }}{{ organization.url }}" title="Details">View Organization</a>
         </div>
      
      </div>
      {% endfor %}        

   </div>
</div>

{% include home.html %}
